<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="start_initialized" default="false"/>
  <arg name="running_offline" default="false"/>

  <group if="$(arg start_initialized)">
    <param name="IcpNavigation/map/pose_graph_initialization_behaviour" value="CreateNewTimestamped"/>
    <param name="IcpNavigation/map/pose_graph_path" value="$(find starleth_tr)/pose_graphs"/>
  </group>
  <group unless="$(arg start_initialized)">
    <param name="IcpNavigation/map/pose_graph_initialization_behaviour" value="DoNothing"/>
  </group>

  <node pkg="asrl_icp_pipeline" type="icp_navigation" name="IcpNavigation" output="screen">
    <!-- If we are running offline, discard the image time and use the current time for tf updates" -->
    <param name="map/graphnav/use_local_time_for_update_time" value="$(arg running_offline)"/>

    <!-- GraphNavigation -->
    <param name="map/graphnav/min_rotation_to_add_vertex" value="10"/>
    <param name="map/graphnav/min_translation_to_add_vertex" value="1.0"/>
    <param name="map/graphnav/publish_status_every_n_seconds" value="0.05"/>
    <param name="map/graphnav/topological_search_radius" value="7"/>
    <param name="map/graphnav/map_match_interval" value="1"/>

    <!-- IcpNavigation -->
    <remap from="/IcpNavigation/cloud_in" to="/velodyne_post/point_cloud"/>
    <remap from="/IcpNavigation/imu" to="/imu/data"/>
    <remap from="/IcpNavigation/gps" to="/gps/fix"/>
    <param name="map/icp_config" value="$(find asrl_icp_navigation)/launch/icp.yaml"/>
    <param name="map/input_Filter_Config" value="$(find asrl_icp_navigation)/launch/input_filter.yaml"/>
    <param name="map/map_Post_Filter_Config" value="$(find asrl_icp_navigation)/launch/map_post_filter.yaml"/>
    <param name="map/increment_map_Post_Filter_Config" value="$(find asrl_icp_navigation)/launch/increment_map_post_filter.yaml"/>
    <param name="map/min_Point_Count" value="1000"/>
    <param name="map/min_Map_Point_Count" value="10000"/>
    <param name="map/max_overlap_to_add_to_map" value="0.9"/>
    <param name="map/point_cloud_frequency" value="10"/>
    <param name="map/debug" value="false"/>
    <param name="map/debug_file_output" value="false"/>
    <param name="map/debug_file_output_path" value="$(find asrl_icp_navigation)/debug_output/"/>
    <param name="map/new_laser_node_distance_threshold" value="10"/>
    <param name="map/new_laser_node_overlap_threshold" value="0.84"/>

    <!-- dynamic elements segmentaton -->
    <param name="map/priorStatic" value="0.8"/>
    <param name="map/priorDyn" value="0.2"/>
    <param name="map/maxAngle" value="0.04"/>
    <param name="map/eps_a" value="0.20"/>
    <param name="map/eps_d" value="0.1"/>
    <param name="map/alpha" value="0.99"/>
    <param name="map/beta" value="0.90"/>
    <param name="map/maxDyn" value="0.90"/>
    <param name="map/maxDistNewPoint" value="0.3"/>
    <param name="map/maxSensorRange" value="100.0"/>
    <param name="map/nPriorSubmapsToUpdate" value="5"/>
    <param name="map/removeDynamicPoints" value="false"/>
    <param name="map/dynamicThreshold" value="0.4"/>

    <!-- updating submaps in repeat phase -->
    <param name="map/updateMapsInRepeat" value="false"/>

    <!-- add gravity information from IMU -->
    <param name="map/addImuGravity" value="false"/>

    <!-- frame id parameters -->
    <param name="/map/odomFrameId" value="/odom"/>
    <param name="/map/sensorFrameId" value="/velodyne_link"/>
    <param name="/map/inertialFrameId" value="/inertial"/>
  </node>

  <!-- Velodyne data post-processing -->
  <include file="$(find velodyne_post)/launch/velodyne32_post.launch"/>

  <!-- Connect odometry to Velodyne -->
  <node pkg="tf" type="static_transform_publisher" name="odom_dummy_publisher" args="0 0 0 0 0 0 /velodyne_link /odom 30"/>

  <!-- Connect camera to Velodyne -->
  <node pkg="tf" type="static_transform_publisher" name="tf_connector" args="0 0 0 0 0 0 /camera /velodyne_link 30"/>

</launch>
