<launch>
  <arg name="calibration_file" default="$(find starleth_tr)/conf/calibration.yaml"/>

  <group ns="calibration">
    <rosparam command="load" file="$(arg calibration_file)"/>
    <node pkg="tf_gui" type="tf_gui" name="T_s_c"/>
    <node pkg="tf_gui" type="tf_gui" name="T_s_g"/>
    <node pkg="tf_gui" type="tf_gui" name="T_v_c"/>
  </group>
</launch>
